# App
APP_URL=http://localhost:3000

# Postgres
DATABASE_URL=postgres://user:password@localhost:5432/king_of_the_hill

# Polar
POLAR_SERVER=sandbox
POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_WEBHOOK_SECRET=
